{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-4">
    <h1>About CryptoWorld</h1>
    <p>We are building the cryptoeconomy – a more fair, accessible, efficient, and transparent financial system enabled by crypto.</p>
    <p> We started in 2022 with the radical idea that anyone, anywhere, should be able to easily and securely analize the cryptocoin. Today, we offer a trusted and easy-to-use platform for accessing the broader cryptoeconomy.</p>
    <h1>Working with CryptoWorld</h1>
    <p>Our mission is to increase economic freedom in the world. Join us and make an impact at a global scale.</p>
    <hr>
    <h1>Our Team Members</h1>
    <img src="{% static 'img/Subhasish.jpeg'%}" width="200" height="200" alt="Img Biswasray">
    <h2>Subhasish Biswasray</h2>
    <p>Hi! guys, I am Subhasish, a Full Stack Developer & I love to explore new tools every day. Here In this Blog, My one and only objective are to provide you with the best of the best information about the coin for investing. </p>
    <img src="{% static 'img/Saroj.jpeg'%}" width="200" height="200" alt="Img Saroj">
    <h2>Saroj Sahu</h2>
    <p>Hello!I am Saroj Sahu i am a Full Stack Developer and here in this blog, I analyse and review the software which is made for online marketers, entrepreneurs, Affiliate Marketers & Website Owners.</p>
    <img src="{% static 'img/Sushree.jpeg'%}" width="200" height="200" alt="img Sushree">
     <h2>Sushree Subhadra Sahoo</h2>
     <p>Hello guys!I am Miss Sushree Subhadra and i am a Full Stack Developer.I love to beat the ternd and explore the new things.</p>
     <img src="{% static 'img/Bhabasmita.jpg'%}" width="200" height="200" alt="img Bhaba smita">
     <h2>Bhaba Smita Sahoo</h2>
     <p>Hi!I am Miss Bhaba Smita Sahoo and i am a Frontend Developer... I love being creative.I always explore with the new looks... </p>
     <img src="{% static 'img/Purnima Mohapatra.jpg'%}" width="200" height="200" alt="img Purnima">
     <h2>Purnima Mohapatra</h2>
     <p>Hello! I am Purnima a Frontend Developer...Playing with colors and designs is my passion..I always take care about the apperance so I was choosen for the frontend work.. </p>
</div>
{% endblock content %}